.title {
  color: green;
  padding-bottom: 1vw;
  padding-left: 2vw;
  border-bottom: 0.5vw solid green;
  margin-bottom: 1vw;
  .logo {
    width: 7vw;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;

  .left-form {
    .header-containers {
      .title {
        background-color: green;
        color: white;
        border: none;
        padding: 0;
        padding: 1vw 0 1vw 2vw;
        margin: 0;
      }

      .one-headers {
        padding-left: 2vw;
        .header-type {
          color: green;
          font-weight: bold;
          position: relative;
          padding-left: 3vw;
          &:first-child {
            margin-top: 2vw;
          }
          &::before {
            content: "";
            position: absolute;
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            background-color: green;
            left: 0;
            top: calc(50% - 1vw);
          }
        }
        .headers {
          display: flex;
          flex-wrap: wrap;
          margin: 1vw 0;
          .header-row {
            display: flex;
            justify-content: left;
            flex-direction: row-reverse;
            justify-items: center;
            align-items: center;
            margin: 2vw 0;
            &.empty {
              .ipt {
                border: 0.5vw solid red;
              }
            }
            input[type="number"] {
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
            .unit {
              margin-right: 4vw;
              &~.ipt {
                margin-right: 2vw;
              }
            }
            .ipt {
              flex: 1;
              border-radius: 1vw;
              align-self: center;
              outline: none;
              border: 0.2vw solid black;
              color: black;
              height: 6.5vw;
              margin: 0 3vw;
              width: 20vw;
              box-sizing: border-box;
              &:focus, &:hover {
                border-color: #b95915;
                color: #b95915;
                &~label{
                  color: #b95915;
                }
              }
            }

            input[type="number"] {
              padding-left: 1.5vw;
            }

            .opts-con {
              margin: 0 3vw;
              vertical-align: middle;
              position: relative;
              &:focus, &:hover {
                &~label{
                  color: #b95915;
                }
                &::after {
                  border-color: #b95915;
                }
              }
              &::after {
                position: absolute;
                content: "";
                right: 1.5vw;
                top: calc(50% - 0.75vw);
                width: 1.5vw;
                height: 1.5vw;
                transform: rotate(-45deg) translateY(-50%);
                border-left: 0.35vw #858585 solid;
                border-bottom: 0.35vw #858585 solid;
              }
            }

            .opts {
              margin: 0;
              height: 7vw;
              width: 50vw;
              padding-left: 1.2vw;
              padding-right: 5vw;
              font-size: 3.5vw;
              -webkit-appearance: none;
              -moz-appearance: none;
              -ms-appearance: none;
              appearance: none;
              vertical-align: middle;
            }

            .radios {
              border: none;
              background-color: white;
              font-size: inherit;
              text-align: left;
              width: auto !important;
              vertical-align:super;
              input {
                width: 4vw;
                height: 4vw;
                margin: 0 1vw 0 2vw;
                vertical-align: middle;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                border-radius: 50%;
                border: 0.3vw #555 solid;
                position: relative;
                transition: 0.2s border ease-in;
                &:checked {
                  border: 1.5vw rgb(34, 152, 255) solid;
                }
                &:first-child {
                  margin-left: 0;
                }
              }
              label {
                padding-left: 1vw;
                margin-right: 2vw;
                vertical-align: middle;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            .opts-not-selected {
              font-weight: normal;
              color: #555;
            }
            .opt {
              color: black;
            }
          }
        }
      }
  
      .btn-con {
        padding-left: 2vw;

        .btn {
          width: 35vw;
          height: 8vw;
          border-radius: 1vw;
          border: none;
          font-weight: bold;
          background-color: rgb(0, 255, 106);
          cursor: pointer;
          margin-right: 3vw;
          margin-bottom: 3vw;
          font-size: inherit;
          white-space: nowrap; 
          overflow: hidden; 
          text-overflow: ellipsis; 
          &:hover {
            background-color: rgb(0, 237, 99);
          }
        }
    
        .loading {
          display: inline-block;
          width: 4vw;
          height: 4vw;
          border: 1vw solid #000;
          border-top-color: rgba(0, 0, 0, 0.2);
          border-right-color: rgba(0, 0, 0, 0.2);
          border-bottom-color: rgba(0, 0, 0, 0.2);
          border-radius: 100%;
          animation: circle infinite 0.75s linear;
          vertical-align: middle;
          margin-right: 2vw;
        }

        .warn {
          display: inline-block;
          width: fit-content;
          margin-bottom: 2vw;
          margin-top: -1vw;
        }
      }

      .warn {
        color: red;
        font-weight: normal;
      }
  
      .results {
        margin-left: 5vw;
        margin-bottom: 3vw;
        font-weight: bold;
      }
    }
  }
  
  .right-side {
    .item {
      .title {
        color: white;
        background-color: green;
        padding: 1vw 0 1vw 2vw;
        margin: 0;
      }
      .text {
        border: 0.5vw solid rgb(133, 191, 138);
        border-bottom: none;
        color: #555;
        background-color: #f4f4f4;
        padding: 2vw;
        padding-bottom: 8vw;
        word-wrap: break-word;
        .disclaimer-title {
          color: #b95915;
        }
        .disclaimer {
          color: #b95915;
          padding: 2vw;
          border-left: 1vw solid #bba99d;
          font-style: italic;
        }
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
