.title {
  color: green;
  padding-bottom: 8px;
  padding-left: 20px;
  border-bottom: 2px solid green;
  margin-bottom: 5px;
  .logo {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  .left-form {
    flex: 1 1;
    min-width: 0;
    margin-right: 30px;

    .header-containers {
      .title {
        background-color: green;
        color: white;
        border: none;
        padding: 0;
        padding: 5px 0 5px 20px;
        margin: 0;
      }

      .one-headers {
        padding-left: 20px;
        .header-type {
          color: green;
          font-weight: bold;
          position: relative;
          padding-left: 15px;
          &:first-child {
            margin-top: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: green;
            left: 0;
            top: calc(50% - 5px);
          }
        }
        .headers {
          display: flex;
          flex-wrap: wrap;
          margin: 5px 0;
          .header-row {
            display: flex;
            justify-content: left;
            flex-direction: row-reverse;
            justify-items: center;
            margin: 10px 0;
            &.empty {
              .ipt {
                border: 2px solid red;
              }
            }
            input[type="number"] {
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
            .unit {
              margin-right: 30px;
              &~.ipt {
                margin-right: 5px;
              }
            }
            .ipt {
              flex: 1;
              border-radius: 5px;
              align-self: center;
              box-sizing: content-box;
              outline: none;
              border: 1px solid black;
              color: black;
              height: 20px;
              margin: 0 30px 0 10px;
              width: 100px;
              padding-left: 5px;
              &:focus, &:hover {
                border-color: #b95915;
                color: #b95915;
                &~label{
                  color: #b95915;
                }
              }
            }
            .opts {
              height: 25px;
              width: 300px;
              padding-left: 0px;
            }
            .radios {
              border: none;
              background-color: white;
              font-size: 16px;
              margin-left: 0;
              text-align: left;
              width: auto !important;
              label {
                padding-left: 5px;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            .opts-not-selected {
              font-weight: normal;
              color: #555;
            }
            .opt {
              color: black;
            }
          }
        }
      }
  
      .btn {
        width: 200px;
        height: 30px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        background-color: rgb(0, 255, 106);
        cursor: pointer;
        margin-right: 10px;
        margin-left: 20px;
        &:hover {
          background-color: rgb(0, 237, 99);
        }
      }
  
      .loading {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-top-color: rgba(0, 0, 0, 0.2);
        border-right-color: rgba(0, 0, 0, 0.2);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        animation: circle infinite 0.75s linear;
        vertical-align: middle;
        margin-right: 10px;
      }
  
      .warn {
        color: red;
      }
  
      .results{
        margin-top: 20px;
        margin-left: 10px;
      }
    }
  }
  
  .right-side {
    flex: 0 0 250px;
    margin-right: 6px;
    .item {
      margin-bottom: 10px;
      .title {
        color: white;
        background-color: green;
        padding: 5px 0px 5px 10px;
        margin: 0;
      }
      .text {
        border: 1px solid rgb(133, 191, 138);
        color: #555;
        background-color: #f4f4f4;
        padding: 8px;
        padding-bottom: 20px;
        font-size: 14px;
        word-wrap: break-word;
        .disclaimer-title {
          color: #b95915;
        }
        .disclaimer {
          color: #b95915;
          padding: 6px;
          border-left: 5px solid #bba99d;
          font-style: italic;
        }
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
